In [ ]:
#01 Write python program to print "Hello Core2web"

print("Hello Core2")

Hello Core2

In [3]:
#02 Write a python program to assign a value to an integer variable and print it.

num1 = 29
print(num1)

29

In [ ]:
#03 Write a python program to assign a float value variable and print its type.

num2 = 34.7
print(type(num2))

<class 'float'>

In [5]:
#04 Write a python program to assign a value to a complex variable and print it.

num3 = 3+7j
print(num3)

(3+7j)

In [ ]:
#05 Write a python program to store your name in a variable and print it.

str1 = "Akanksha Sapate"
print(str1)

Akanksha Sapate

In [7]:
#06 Write a python program to assign a boolean value to a variable and print it.

x = True
print(x)

True

In [8]:
#07 Write a python program to assing the number 25 to a variable and print its type using the type() function.

num4 = 25
dtype = type(num4)
print(dtype)

<class 'int'>

In [ ]:
#08 Write a python program to assing the number 31.5 to a variable and print its type using the type() function.

num5 = 31.5
dType = type(num5)
print(dType)

<class 'float'>

In [11]:
#09 Assign two integer and one float to variables, add them and print sum.

num1 = 45
num2 = 34
num3 = 6.7
sum = num1 + num2 + num3
print(sum)

85.7

In [14]:
#10 write a python program to create a list of 5 subjects and print each subject using indexing.

l1 = ["Math","English","Chemistry","IT","Marathi"]

print(l1[0])
print(l1[1])
print(l1[2])
print(l1[3])
print(l1[4])

Math
English
Chemistry
IT
Marathi

In [27]:
#11 Write a program to create a tuple

t1 = ("Akanksha","Gurmit","Ganesh","Shubhangi")
print(t1)

('Akanksha', 'Gurmit', 'Ganesh', 'Shubhangi')

In [ ]:
#12 Write a program to create a list and print sum of all index values.

list = [12,23,78,9,89,12]
total = sum(list)
print(sum)

TypeError: 'float' object is not callable

In [26]:
#13 Write a python program to create a set of numbers and show that duplicates are not allowed.

data = {"Neha","Kiran","Sneha","Kiran","Arjun"}
print(data)

{'Arjun', 'Neha', 'Sneha', 'Kiran'}

In [29]:
# 14 Write a python program to create a list and perform list operations assign a "Core2web" to a 3 index.

ldata = ["apnaCollege","codeWithHarry", "ChaiCode", "MarathiPandit"]
ldata[3] = "Core2web"
print(ldata)

['apnaCollege', 'codeWithHarry', 'ChaiCode', 'Core2web']

In [30]:
#15 Write a python program to create a dictionary of student data (name, age, marks) and print each value of key.

StuData = {
    "name" : "Neha Agarval",
    "age" : 23,
    "marks" : 90
}

print(StuData)

{'name': 'Neha Agarval', 'age': 23, 'marks': 90}

In [32]:
#16 Write a python program to asssign a new value to a key in a dictionary.

"marks" == 95
print(StuData)

{'name': 'Neha Agarval', 'age': 23, 'marks': 90}

In [ ]:
#17 Write a python program to check if key exists in the dictionary {0:10, 1:20, 2:25, 3:30, 4:40} . If key exists, print its value. Then find the sum of the values associated with keys 2 and 3 and print the result

In [35]:
#18 Write a python program to assign a value to a None variable and print it.

x = None
print(x)

None

In [ ]:
# 19 Write a python program that displays three strings using all three types of string declaration:
# 1. one string using single Code
# 2. one string using double Code
# 3. one string using three Code 

str1 = 'Ganesh Jathar'
str2 = "Ram suryawanshi"
str3 = '''Kiran Agarwal'''

' 19 Write a python program that displays three strings using all three types of string declaration:\n1. one string using single Code\n2. one string using double Code\n3. one string using three Code '

In [34]:
#20 Assigns a value to each of the following data types:
#Integer, Float, Complex, String, List, Tuple, Dictionary, Set, Boolean, None

a = 34
b = 12.6
c = 4+6j
d = "Neha Badhe"
l = ["Java", "Python","C","C++","React"]
t = ("Karan", "Sita", "Neha", "Sakshi")
d = {
    "name":"Kiran",
    "rollNo":6,
    "class":12
}
s = {"Narayan","Ganesh","Rohit","Samiksha","Rohit"}
x = False
n = None